#clock {
    display: none;
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 127px;
    top: 35px;
    left: 35px;
    overflow: hidden;

    .category {
        display: block;
        position: absolute;
        left: 0;
        top: 60px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 22px;
        text-align: center;
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 16px;

    }

    .ampm {
        display: block;
        position: absolute;
        font-size: 32px;
        color: #FFF;
        left: 0;
        bottom: 0;
        -webkit-transform: scaleX(0.65);
        -ms-transform: scaleX(0.65);
        transform: scaleX(0.65);
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
    }

    .time {
        position: absolute;
        display: block;
        height: 100%;
        left: 50px;
        top: 0;
        color: #FFF;
        font-size: 150px;
        -webkit-transform: scaleX(0.50);
        -ms-transform: scaleX(0.50);
        transform: scaleX(0.50);
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
    }
}