#nav {
    display: none;
    position: absolute;
    top: 24px;
    right: 48px;
    z-index: 99;
    overflow: hidden;

    a {
        display: inline-block;
        margin: 0 10px;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &.open {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd1JREFUeNqslUsoRGEUx+8dj2FhQcmM5LWxw0pZaVbIo8gCNTayRqGUhYWykLBmRZlZWHmEzdySUqywUpKFt4WNwhTjdzgjcS+umVO/+bpzz/l/557v3nPMWCxm2JllWdksHVAP5eCDKJzBMaxDKBAI3NnFm1+FEcxg6YchFVqBXbiANCiACmiCdJiAKTZ4cBRGtFiFcmEE5gmIOjyRiHbBGNzKRviefhPGUTLZgRNow+nW+IMRJ0ksQSlUE3f2IayPvwX3UlNuPhkuTOPXIAtqpCwevdcHRdDuVlSMmEc96ELVMsxIJJKjjz+Aw9wPWcVUxPzBp5tlUsri0Z1e5KCMxG0BnkVThGth1en0XZYkqrWuE+FK2DaSZ6JVkcpPHpw71fS3/21qLlp5krG8Bd4kZvymJRlfQr5NvUy3b4WaH64l4yOoSmLGorUvwpvQoN9+QqYajbAhwiFIgWASsg2qVijeK4a56JW+Sw1v/pmtNKNDmEFjPN4rpkEEw9pQjH80obC2T9EyPHrS0qRboezdz/K5EBVfS2Nb4g3/a6MvYVnWMTQKs780+h71u3Js9J8CMnU0Depoko32dNZ5dTTJDGz+82iyGaad0lBUyK+35IM6kFcKFp2G6asAAwCDdMP4s5k+hgAAAABJRU5ErkJggg==);
        }

        &.music {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlhJREFUeNqclU2IjVEYx987jCEUozEzkq/FKAujUcpCuitjfOQrGRkWsmYKpSwsSJE0a2wYpjQ2PkLp3vKRUAorkizG5yUbwl24fv/xv9PpuG/3zpz6de59z/P8zznPec5zMqVSKanU8vn8dLpuWA2LoQWKMASv4SYMZLPZb5X8M7EwghPpeuGgha7BY3gP9TAb2mEdTICTcJoJfqYKIzrPQk1wGM7jUEzZkUR3wlEoaCJs3/4njKFW8hDewBaMCkkNDT8tYhAWwHL8hkaEvf278F0xZfB3Mopm/xswFVYqLHUe2wdzYVuaKM6ToAsuxGP4/PJBz7FWksnlco3e/n4MzlYS1CrsuN1C9SmT76Y7pbCMt8MfHVRgMNknvhR2wQaY4uEvgd2gU+6KP2k3J6SpUKyC69HpXwYZ98OOQHR4l8Hve7AiCEnRse6U8BK4H+1KlyILzVXO7Sl0RN+k1V5n53fR4NcaE+IVtEXfpNUsYWVBQzK2VvBlCtuwloQ/wKxocEaNwk0WD1srfFJWvIRl0aAKjNJsUZU4tzkcYZPWM634Nqzx3S+3rbDZGdHvG1luYdXq8AGG9WMt3NKKB+AY9MA5p80POnEH4wf0F4MLMi1Ir75otdIYJ81yrTjEn72quxh/TrvSTsFubHpSitEL6GP8eFlYTo98q7p898dShGYqxiNFyEV6Eyz8Z5dvGYWobPP23Vgu+HGhn0931c/QEThTpdDvsd3H1EIfxVJP0wE/TZroid+6Bj9NegPX1/w0VXhMlQWdFmr1kC7Uc6UUXEp7TP8KMAAcHutxTUjc1gAAAABJRU5ErkJggg==);
        }
    }
}