@import "fn.less";

#nav {
    display: none;
    position: absolute;
    top: 24px;
    right: 48px;
    z-index: 99999;
    overflow: hidden;
    .transform(scale(0.7));

    a {
        display: block;
        float: right;
        margin: 0 5px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        cursor: pointer;
        overflow: hidden;
        font-size: 16px;

        &[anim] {
            .transition(width 0.4s ease 0s);

            &:hover {
                width: 110px;
            }
        }

        span {
            display: inline-block;
            margin-left: 40px;
            height: 100%;
            line-height: 34px;
            font-size: 20px;
        }

        &.index {
            background-position: 0 0;
        }

        &.video {
            background-position: 0 -40px;
        }

        &.category {
            background-position: 0 -80px;
        }

        &.music {
            background-position:0 -120px;
        }
    }
}

body.black #nav a {
    background-image: url(./assets/images/nav_black.png);
    color: #1C1C1C;
}

body.white #nav a {
    background-image: url(./assets/images/nav_white.png);
    color: #FFF;
}