#share {
    display: none;
    position: absolute;
    z-index: 99;
    height: 24px;
    bottom: 20px;
    right: 40px;

    span {
        display: inline-block;
        color: #adadad;
        font-size: 12px;
        line-height: 24px;
    }

    a {
        display: inline-block;
        margin: 0 10px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &.weibo {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfRJREFUeNq8VbtKA0EUnawpBEG2SSmsINarfVi3MGCntaDuF8T4A1HsjX5BVLD2UZoigr3G0jSuWKZI9AOMZ+SMXK4bNb4OHCaZnTl7750zd3P9ft9kodlsjmOYB4vgLDgNFsAO2AavwEuwEcfxU5ZGLkscwisYlsGS+Rzn4BFecPihOEQnMFTAMuiZr+MZ3ANreMnDO3EKb4GJ+T7qYNW9IC8eVIYU3gV7oA8uggH327mNt8hZ4/oQpbgAYzW3bsvCEiX2DEaiKLKu2AanPhDa5xiCo4xyjvN27hY8AR/BBXAsTdOzPO2W5YqUaV6o+U0VfcCsE5aqRr15jz7WaIEzGcL3FFgCb8Britt1q2KvRTHPC6KFYx6Mxr76b9dE/P3IMeA4m+fNk0iUcEhHyDOQzzbFvkCsnfZ4paW9XFrWXnfWt4zOpn0Mdjnn1rss61zvUPDYKxwOhK2O6f0lcbliRmajXROZVDJK2PHYhIw6jCo3naiStMSaSDlLo+2xuxlRCqNq2uXo4KssjXCKxJXHtulQFofjM6JJlZGv/B+KEklcWrc02DZLvHV11rAlXuYsdkP/p+JsqgPacGNQb+mx3qcUaomShKz3mvC0br+vvUW23J0Bpz4sbE9/7YqyC9YYvflhP6/975foz7+hv/31fxFgAItsvUUxToD+AAAAAElFTkSuQmCC);
        }
    }
}