#share {
    display: none;
    position: absolute;
    z-index: 99;
    height: 24px;
    bottom: 20px;
    right: 40px;

    span {
        display: inline-block;
        color: #EEE;
        font-size: 12px;
        line-height: 24px;
    }

    a {
        display: inline-block;
        margin: 0 10px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &.weibo {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAXCAYAAABJXhw0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAl5JREFUeNrcWLFO40AQNSvXpzSUJ5mGOtCj4AJqqCMd5AuC+QFyP3DcfYEBiRIBLRRBoofQ0gCipCDcB1zu7emtNJrbxDZeFzDS0yaT3Xk7M7vjceYmk0nkk+Fw+AXDGrACLAOLwDzwAtwDN8A1cJmm6e+onpTmArxccz5H4MQ3DF1gvcQmLoBjOHP0TicqcwFHMx2BA18xZEAfMBU28wf4BezDoeeSa2pzAc//OUInvgO9GkckB/ZKOBOMyzkTix+yioZ/AmOgBWwACddb3W7B2uBc/zLCO5FXSPEVkCrdDtNtU9+bcWeCc9k7Y1idujMMW0MDYkzdqj2NgD2Xp0CbUctop0u7vuoUnMvajVn2fBXjkd5eKf1ARSphhHsk2Kc9a/dErW2My7B2axkBSx7DTzSwCdwBtzRu522JtdEUu41xxXwAacOpSK2UA/Xdzunw8xvHhOOyZ31jXDGfolJ6ynCb1UKeY/nbQKxLxNxFz+Ya4zJsBWSZc+myZe6BtbrDdNrL9kqdm+8imnO+k3mPI41xGfYzTg5FeTtlZdgUD6+UUbCR2RZRyzybfinQBeUybMoidXn2uOhMpXok5nRU1dFyX6ALymXYWUYixZE6l68cnbRURCNRRaTcFOiCchm2x0764jK16P2Cil5L1fy2SL2U6wJdUK6YPf4FHyyrvEgZDfbF5IT1fEmkd0dcRt1uX3r0jXFN67XGPLPnNDQSqW7zzG6LOq7b7Cq9Vm0u22vJNv7HlIpQVew7SVH3G4zLdb9GKfOahnPaKbOBoFyf7w3xU72zf+R/Uf4KMABM3DxBsEksmQAAAABJRU5ErkJggg==);
        
            &:hover {
                background-position: -27px 0;
            }
        }
    }
}